$color__orange: #FF983B;
$color__orange--dark: #FF5836;


$text__font-family--sans: "Barlow", Arial, Helvetica, sans-serif;
$text__font-family--serif: "Noto Serif SC", Times, serif;

$text__font-size--small: 13px;
$text__font-size: 15px;
$text__font-size--h2: 22px;
$text__font-size--h1: 33px;

$text__font-weight: 500;
$text__font-weight--bold: 600;
$text__font-weight--black: 800;

$transition: .5s cubic-bezier(.07,.95,0,1);